<h2>Menu for <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2 %>'s Wedding</h2>
<%= link_to "Back to Events", wedding_path(@wedding) %>
<% @foods.each do |food| %>

  <p><strong>Option Nummber: </strong><%= food.food_choice%></p>
  <p><strong>Dish Name: </strong><%= food.dish_name %></p>
  <p><strong>Description: </strong><%= food.dish_description %></p>

  <%= link_to "Edit",  edit_wedding_food_path(@wedding, food)%> |
  <%= link_to "Delete", wedding_food_path(@wedding, food), method: :delete, data: {confirm: "Are you sure you want to delete this Menu Option?"} %>

<% end %>

<%= render "form" %>