<br/>
<br/>
<h2>Menu for <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2 %>'s Wedding</h2>
<%= link_to "Back to Events", wedding_path(@wedding) %>
<% @foods.each do |food| %>

  <p><strong>Option Number: </strong><%= food.food_choice%></p>
  <p><strong>Dish Name: </strong><%= food.dish_name %></p>
  <p><strong>Description: </strong><%= food.dish_description %></p>

  <% if current_user == @wedding.user %>
    <%= link_to "Edit",  edit_wedding_food_path(@wedding, food)%> |
    <%= link_to "Delete", wedding_food_path(@wedding, food), method: :delete, data: {confirm: "Are you sure you want to delete this Menu Option?"} %>
  <% end %>
<% end %>
<br/>
<br/>
<% if current_user == @wedding.user %>
  <%=form_for([@wedding, Food.new])do |f| %>
    <div class = "nested-fields">
      <%= f.hidden_field :wedding_id, value: @wedding.id %>
      <div class= "field">
        <%= f.label "Menu Option Number" %>
        <%= f.number_field :food_choice %>
      </div>
      <div class= "field">
        <%= f.label :dish_name %>
        <%= f.text_field :dish_name %>
      </div>
      <div class= "field">
        <%= f.label :dish_description %>
        <%= f.text_area :dish_description %>
      </div>
      <div class= "submit-button">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
<% end %>