<h1>Event <%= @event.name %></h1>
<div class= "container_container">
    <h4><%= @event.description %></h4>on
    <h4><%= @event.date.strftime("%A, %B %e, %Y ") %></h4>at
    <h5><%= @event.start_time.strftime("%I :%M %p ") %> to <%= @event.end_time.strftime("%I :%M %p ") %></h5>

    <p>Number of Tables for <%= @event.name %>: <%= @containers.count %></p>
   <button><%= link_to "Organize your Guest's seating","/weddings/#{@wedding.id}/events/#{@event.id}/containers/#{:id}" %></button>
  <table class="container_list">
    <tr>
      <th><h4 class= "table_names" ><strong></strong></h4></th>
      <th><h4 class= "table_names" ><strong>Table Name </strong></h4></th>
      <th><h4 class= "table_names" ><strong>Capacity </strong></h4></th>
      <th><h4 class= "table_names" ><strong></strong></h4></th>
    </tr>

    <tr>
      <td><h4><strong>New</strong></h4></td>
        <%= form_for([@event.wedding, @event, Container.new]) do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
      <div class= "field">
        <td><p><%= f.text_field :name %></p></td>
      </div>
      <div class= "field">
        <td><p><%= f.text_field :limit %></p></td>
      </div>
      <td><p><%= f.submit "Add New Table" %></p></td>
    <% end %>
    </tr>

    <% @containers.each do |container| %>
      <tr>
        <td><p></p></td>
        <td><p><%= container.name %></p></td>
        <td><p><%= container.limit %></p></td>
        <td><button><%= link_to "Edit", edit_wedding_event_container_path(@event.wedding, @event, container) %></button>
          <button><%= link_to "Delete", wedding_event_container_path(@event.wedding, @event, container), method: :delete, data: {confirm: "Are you sure you end want to delete this container?"} %></button></p></td>
      </tr>
    <% end %>
  </table>
</div>