<%= form_for([@guest.wedding, @guest]) do |f| %>
  <div class = "create-guests" >
    <div class= "field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class= "field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class= "field">
      <%= f.label :food_choice %>
      <%= f.text_field :food_choice %>
    </div>
    <div class= "field">
      <%= f.label :food_restrictions %>
      <%= f.text_area :food_restrictions %>
    </div>
    <div class= "submit-button">
    <%= f.submit %>
    </div>
  </div>
<% end %>