<h1>Guest Index for "<%= @event.name %>" </h1>

<% @guests.each do |guest| %>
  <h3><%= guest.first_name %></h3>
  <h4><%= guest.last_name %></h4>
  <p><%= guest.rsvp %></p>
  <p><%= guest.food_choice %></p>
  <p><%= guest.food_restrictions %></p>


<br/>
<br/>
<% end %>

<!-- <%#button_to "Add a Guest", "/events/#{@event.id}/guests/new", :method => :get %> -->