<h1>Guest Index for the Celebration of "<%= @wedding.partner_1 %>" & "<%= @wedding.partner_2 %>" </h1>

<h2>Add a New Guest</h2>
<%= form_for @wedding do |f| %>
  <div id= "create-guests">
    <%= f.fields_for :guests do |guest_form| %>
      <%= render 'guest_fields', f: guest_form %>
    <% end %>
  </div>

  <div class = "links">
    <%= link_to_add_association "add guest", f, :guests %>
  </div>

  <br/>

  <div class= "submit-button">
    <%= f.submit %>
  </div>
<% end %>