<%= form_for([registry.wedding, registry]) do |f| %>
 <%= f.hidden_field :wedding_id, value: @wedding.id %>
  <div class="field">
    <%= f.label "Store:" %>
    <%= f.select(:store, options_for_select([["Hudson Bay", "Hudson Bay"], ["Bath & Beyond", "Bath & Beyond"], ["Crate & Barrel", "Crate & Barrel"], ["Pottery Barn", "Pottery Barn"], ["Willams-Sonoma", "Willams-Sonoma"], ["Pottery Barn", "Pottery Barn"], ["Other", "Other"]]))%>
  </div>
  <div class= "field">
    <%= f.label "Link to Registry:" %>
    <%= f.text_field :link_to_registry %>
  </div>
  <br/>

  <div class= "field">
  <label for="registry_image"> Image for the Registry</label>
  <%= f.file_field :image_url %>
  </div>
  <label>
    <%= f.check_box :remove_image_url %>
    Remove Photo
  </label>
  <br/>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>