<!DOCTYPE html>
<html>

<head>
 <link href='http://fonts.googleapis.com/css?family=Bad+Script|Homemade+Apple|Raleway|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <title>Wed Web</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.19&key=#{Figaro.env.google_maps_api}" %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
<!-- Nav bar for Logged in User -->
<div class="menu-wrap">
  <nav class="menu">
    <ul class="clearfix">
      <% if current_user%>
      <li><a href="#"><%= link_to "WedWeb", weddings_path, {:class => "header_text"}%></a></li>
        <% if current_user.my_wedding.present? %>
        <ul><a href="#" class="drop_down"><%= link_to "Your Wedding", wedding_path(current_user.my_wedding)%></a></li>
<!-- Sub menu for "Your Wedding" -->
            <li class= "current-item"><a href="#"><%= link_to "Social Page", wedding_path(current_user.my_wedding)%></a></li>
            <li class="current-item"><a href="#"><%= link_to 'Send Invitations', wedding_invitations_path(current_user.my_wedding, @invitations)%></a></li>
            <li class="current-item"><a href="#"><%= link_to "Events", wedding_events_path(current_user.my_wedding, @events) %></a></li>
            <li class="current-item"><a href="#"><%= link_to "Guests", wedding_guests_path(current_user.my_wedding, @guests) %></a></li>
            <li class="current-item"><a href="#"><%= link_to "Registry", wedding_registries_path(current_user.my_wedding, @registries) %></a></li>
            <li class="current-item"><a href="#"><%= link_to "Menu", wedding_foods_path(current_user.my_wedding, @foods) %></a></li>
          </ul>
        <% else %>
      <li><a href="#"><%= link_to "Create Your Wedding!", "/weddings/new", {:class => "header_text"} %></a></li>
        <% end %>
      <%# link_to "Join A Wedding", "/weddings", {:class => "header_text"} %>
    </ul>
  </nav>
<!-- Profile Picture and Name -->
      <a href= "<%= users_path %>">
       <img class= "profile_photo" src= '<%= current_user.photo.thumb %>'>
        <p class = "profile_name">
          <%= current_user.first_name %>
        </p>
      </a>

<!-- Nav bar for Un-Registered Viewer -->
    <% else %>
      <li><a href="#"><%= link_to "Register", new_user_path %></a></li>
      <li><a href="#"><%= link_to "Create Your Wedding!", "/weddings/new" %></a></li>
      <li><a href="#"><%= link_to "Join A Wedding", "/weddings" %></a> </li>
      <li><a href="#"><%= link_to "Login", :login %></a></li>
  <% end %>
</div>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <div class="letter"></div>

<div class= "container_body">
  <%= yield %>
</div>
</body>
</html>
