<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Bad+Script|Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.19&key=#{Figaro.env.google_maps_api}" %>

  <title>Wed Web</title>

  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <% if current_user %>
      <%= link_to "All Weddings", "/weddings"%> |
      <%= link_to "Create Your Wedding!", "/weddings/new" %> |
      <%= link_to "Join A Wedding", "/weddings" %> |
      <%= link_to "Profile", users_path %> |
      <%= link_to "Logout", :logout, method: :post %>

      <img class= "profile_photo" src= '<%= current_user.photo.thumb %>'>
      <br/>
      <p id="profile_name" '<%= current_user.first_name %>'>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Create Your Wedding!", "/weddings/new" %> |
      <%= link_to "Join A Wedding", "/weddings" %> |
      <%= link_to "Login", :login %>
    <% end %>

  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  <%= yield %>

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</body>
</html>
