<!DOCTYPE html>
<html>

<head>
 <link href='http://fonts.googleapis.com/css?family=Bad+Script|Raleway' rel='stylesheet' type='text/css'>

  <title>Wed Web</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.19&key=#{Figaro.env.google_maps_api}" %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <% if current_user %>
      <%= link_to "All Weddings", "/weddings"%> |
      <%= link_to "Create Your Wedding!", "/weddings/new" %> |
      <%= link_to "Join A Wedding", "/weddings" %> |
      <%= link_to "Profile", users_path %> |
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Create Your Wedding!", "/weddings/new" %> |
      <%= link_to "Join A Wedding", "/weddings" %> |
      <%= link_to "Login", :login %>
    <% end %>

  </div>
      <%# current_user.first_name %>
      <img class= "profile_photo" scr= '<%= current_user.photo.thumb %>'>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>

</body>
</html>
