<h1>All Events for "<%= @current_user %>"</h1>

<% @events.each do |event| %>

  <p><%= event.address_line_1 %></p>
  <p><%= event.address_line_2 %></p>
  <p><%= event.city %></p>

  <%= button_to "Edit", { :action => "/#{event.id}/edit"}, :method => :get %>

  </button>
<button type="button" action=" ">Delete</button>
<br/>
<br/>
<% end %>






