<h1>Invitation List</h1>
<%= link_to "Back to Events", wedding_path(@wedding) %>
<br/>
<%= form_for([@wedding, Invitation.new]) do |f| %>
  <div class="field">
    <%= f.label :recipient_email %><br/>
    <%= f.text_field :recipient_email %>
  </div>
  <div class="action">
    <%= f.submit 'Invite' %>
  </div>
<% end %>

<% @invitations.each do |invitation| %>
<p>
  <%= invitation.recipient_email %>
</p>
<% end %>