<h1>Welcome <%= current_user.first_name %>!</h1>

<h3>Your profile info: <%= current_user.first_name %> <%= current_user.last_name %></h3>
     <%= current_user.address_line_1 %><br>
     <%= current_user.address_line_2 %>
     <%= current_user.city %>,
     <%= current_user.province %><br>
     <%= current_user.country %>,
     <%= current_user.zip %><br>
     <%= current_user.phone %><br>
     <%= current_user.email %>

<h3>Your Wedding</h3>

<%= link_to current_user.my_wedding.partner_1, weddings_path(@wedding) %>

<h3>Invitation to Weddings</h3>

<% current_user.weddings.each do |wedding| %>
    <div>
      <%= link_to wedding.partner_1, "/weddings/#{wedding.id}" %>
    </div>
<% end %>