<h3> This is your Social Page.</h3>
<h4> Think about it as your Pre-Wedding Scrapbook to share with Friends and Family! You can share photos and they can add their wishes and comments for your future together.</h4>

<!-- Add Pictures -->
<% if current_user == @wedding.user %>
   <%= form_for @wedding, html: {multipart: true} do |f| %>
    <div class= "field">
      <label for="social_picutres1"> Profile Picture for Partner 1</label>
      <%= f.file_field :photo %>
      <%= f.hidden_field :social_partner1_photo %>
    </div>
    <label>
      <%# f.check_box :remove_photo %>
      Remove Profile Photo
    </label>
  <br/>
    <div class="actions">
      <%= f.submit %>
    </div>
    <br/>
  <label for="social_picutres2"> Profile Picture for Partner 2</label>
      <%= f.file_field :photo %>
      <%= f.hidden_field :social_partner2_photo %>
    </div>
    <br/>
    <label>
      <%# f.check_box :remove_photo %>
      Remove Profile Photo
    </label>
  <br/>
    <div class="actions">
      <%= f.submit %>
    </div>
    <br/>
     <label for="social_picutres2"> Cover Photo </label>
      <%= f.file_field :photo %>
      <%= f.hidden_field :social_cover_photo %>
    </div>
    <br/>
    <label>
      <%# f.check_box :remove_photo %>
      Remove Profile Photo
    </label>
  <br/>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<!-- Pictures for Engaged Couple  -->
 <img class= "social_pictures1" scr= '<%= @wedding.social_partner1_photo.social %>'>
  <img class= "social_pictures2" scr= '<%= @wedding.social_partner2_photo.social %>'>
 <img class= "social_cover_photo" scr= '<%= @wedding.social_cover_photo %>'>

<!-- Added Notes -->

<em><h4>Already Added Notes</h4></em>
<% @wedding.comments.each do |comment| %>
  <p id = "social_comments">
    <%= comment.note %>
    <br>
    <% if comment.user != nil %>
      <em> by <%= comment.user.first_name %></em> <br/>
      Added on: <%= comment.created_at.strftime("%m/%d/%Y") %>
  </p>
    <% if current_user == @wedding.user %>
      <%= link_to "Remove Note", "/weddings/#{@wedding.id}/comments/#{comment.id}", method: :delete, data: {confirm: "Are you sure you want to delete this Guest?"} %>

<%= render "social_page_form" %>
    <% end %>
    <% end %>
<% end %>
















