<!-- Pictures for Engaged Couple  -->
<img class= "social_cover_photo" src= '<%= @wedding.social_cover_photo %>'>
<div id="partner">
  <img class= "social_partner"src= '<%= @wedding.social_partner1_photo %>'>
  <img class= "social_partner" src= '<%= @wedding.social_partner2_photo %>'>
</div>


<div class= "social_page_form_and_writing">
  <div class="engaged_names">
    <h2> <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2%></h2>
<div class= "regular">
    <h4> This is <strong><%= @wedding.partner_1 %> and <%= @wedding.partner_2 %></strong>'s  Pre-Wedding Scrapbook. Share your wishes for them by leaving a comment below.</h4>
  </div>
</div>

<!-- Added Notes -->
  <div id="social_comments">
  <div class= "regular">
      <h3 class= "comment_title">Love Notes</h3>
      <% @wedding.comments.each do |comment| %>
        <p id = "social_comments">
          <%= comment.note %>
          <br>
          <% if comment.user != nil %>
            <em> by <%= comment.user.first_name %></em> <br/>
            Added on: <%= comment.created_at.strftime("%m/%d/%Y") %>
        </p>
            <% if current_user == @wedding.user %>
              <%= link_to "Remove Note", "/weddings/#{@wedding.id}/comments/#{comment.id}", method: :delete, data: {confirm: "Are you sure you want to delete this Guest?"} %>
              <%= render "social_page_form" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# if current_user == @wedding.user %>
  <%= form_for([@comment.wedding, @comment]) do |f| %>
    <div class="regular">
      <div class= "social_note_form">
        <div class= "field" id="note">
          <%= f.label "Leave a note"%><br />
          <%= f.text_area :note %>
        </div>
        <div class = "actions">
          <%= f.submit %>
          </div>
        </div>
      </div>
      <br/>
  <% end %>
  <!-- Add Pictures -->
  <div class="engaged_form">
    <% if current_user == @wedding.user %>
       <%= form_for @wedding, html: {multipart: true} do |f| %>
      <div class = "regular">
        <div class= "field">
          <label for="partner" class="social_partner1"> Picture for Partner 1</label>
            <%= f.file_field :social_partner1_photo %>
            <%# f.hidden_field :social_partner1_photo_cache %>
        </div>
          <label>
            <%# f.check_box :remove_social_partner1_photo %>
            <!-- Remove Partner Photo -->
          </label>
          <div class="actions">
            <%# f.submit %>
          </div>

          <label for="partner" class="social_partner2"> Picture for Partner 2</label>
            <%= f.file_field :social_partner2_photo %>
            <%# f.hidden_field :social_partner2_photo_cache %>
            <br/>
          <label>
            <%# f.check_box :remove_social_partner2_photo %>
           <!--  Remove Partner Photo -->
          </label>
          <div class="actions">
            <%#f.submit %>
          </div>

          <label for="cover_photo" class="social_partner2">Cover Photo</label>
            <%= f.file_field :social_cover_photo %>
            <%# f.hidden_field :social_cover_photo_cache %>
            <br/>
          <label>
            <%# f.check_box :remove_social_cover_photo %>
            <!-- Remove Cover Photo -->
          </label>
        <br/>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%# end %>
</div>
    </div>
