<!-- Pictures for Engaged Couple  -->
<img class= "social_cover_photo" src= '<%= @wedding.social_cover_photo %>'>
<div id="partner">
  <img class= "social_partner"src= '<%= @wedding.social_partner1_photo %>'>
  <img class= "social_partner" src= '<%= @wedding.social_partner2_photo %>'>
</div>


<div class= "social_page_form_and_writing">

  <div class="engaged_names">
    <h2> <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2%></h2>
  <div class= "regular">
    <h4> This is <strong><%= @wedding.partner_1 %> and <%= @wedding.partner_2 %></strong>'s  Pre-Wedding Scrapbook. Share your wishes for them by leaving a comment below.</h4>
  </div>
</div>

<div class ="column_container">
  <div class = "column_1_content">
  <!--   <div class= "regular"> -->
    <div class = "engaged_form">
    <h3>This is your social page!</h3>
      <p>
      Add photos and memories to celebrate your upcoming wedding. Guests can sign-up and see the photos and messages left by other guests.
      </p>
    </div>
  </div>

  <div class = "column_2_content">
    <!-- Add Pictures -->
      <div class="engaged_form">
        <% if current_user == @wedding.user %>
           <%= form_for @wedding, html: {multipart: true} do |f| %>
          <div class = "regular">
            <div class= "field">
            <h3>Add pictures to your Social Page!</h3>
              <label for="partner" class="social_partner1"> Picture for Partner 1</label>
                  <%= f.file_field :social_partner1_photo %>
            </div>
              <label for="partner" class="social_partner2"> Picture for Partner 2</label>
                <%= f.file_field :social_partner2_photo %>
                <br/>
              <label for="cover_photo" class="social_partner2">Cover Photo</label>
                  <%= f.file_field :social_cover_photo %>
                <br/>
              <label for="photo_collection_1" class="photo_collection">Photo Collection 1/3</label>
                <%= f.file_field :photo_collection_1 %>
                <br/>
                <label for="photo_collection_2" class="photo_collection">Photo Collection 2/3</label>
                <%= f.file_field :photo_collection_2 %>
                <br/>
                <label for="photo_collection_3" class="photo_collection">Photo Collection 3/3</label>
                <%= f.file_field :photo_collection_3 %>
                <br/>

              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br/>

<!-- Add collection of three photos -->
<div class="collection_container">
  <img class= "collection" src= '<%= @wedding.photo_collection_1 %>'>
  <img class= "collection" src= '<%= @wedding.photo_collection_2 %>'>
  <img class= "collection" src= '<%= @wedding.photo_collection_3 %>'>
</div>


<div class = "social_form_container">
  <%# if current_user == @wedding.user %>
  <%= form_for([@comment.wedding, @comment]) do |f| %>
    <div class="regular">
        <div class= "field" id="note">
          <h2><%= f.label "Leave a note"%></h2>
          <div class="text_area_note">
            <%= f.text_area :note %>
          <div class = "actions">
            <%= f.submit %>
              </div>
          </p>
        </div>
      </div>
      <br/>
  <% end %>
  </div>
  </div>
    <!-- Added Notes -->
  <div id="social_comments">
  <div class= "regular">
<!--       <h3 class= "comment_title">Love Notes</h3> -->



    <div class= "note_container">
        <% @wedding.comments.each do |comment| %>
      <p id = "social_comments">
        <%= comment.note %>
        <% if comment.user != nil %>
        <br/>
          <img id = "comment_photo" src= '<%= comment.user.photo.thumb %>'>
          <br/>
            Written by: <%= comment.user.first_name %><br/>
          Added on: <%= comment.created_at.strftime("%m/%d/%Y") %>
      </p>
        <% if current_user == @wedding.user %>

        <button><%= link_to "Remove Note", "/weddings/#{@wedding.id}/comments/#{comment.id}", method: :delete, data: {confirm: "Are you sure you want to delete this Guest?"} %></button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


