<div id="nav">
<% if current_user == @wedding.user %>
  <%= link_to 'Send Invitations', "/weddings/#{@wedding.id}/invitations" %> |
<% end %>
  <%= link_to "Events", "/weddings/#{@wedding.id}/events" %> |
  <%= link_to "Guests", "/weddings/#{@wedding.id}/guests" %> |
  <%= link_to "Registry",  "/weddings/#{@wedding.id}/registries" %> |
  <%= link_to "Menu", wedding_foods_path(@wedding, @foods) %>
</div>

<h1>Wedding for <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2 %></h1>

<h3> This is your Social Page.</h3>
<h4> Think about it as your Pre-Wedding Scrapbook to share with Friends and Family! You can share photos and they can add their wishes and comments for your future together.</h4>
<% if current_user == @wedding.user %>
<% end %>