<div id="nav">
<% if current_user == @wedding.user %>
  <%= link_to 'Send Invitations', "/weddings/#{@wedding.id}/invitations" %> |
<% end %>
  <%= link_to "Events", "/weddings/#{@wedding.id}/events" %> |
  <%= link_to "Guests", "/weddings/#{@wedding.id}/guests" %> |
  <%= link_to "Registry",  "/weddings/#{@wedding.id}/registries" %> |
  <%= link_to "Menu", wedding_foods_path(@wedding, @foods) %>
</div>

<h1>Wedding for <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2 %></h1>

<%= render "social_page" %>

<%= form_for([@comment.wedding, @comment]) do |f| %>

  <div class= "field">
    <%= f.label "Leave a note"%><br />
    <%= f.text_area :note %>
  </div>
  <div class = "actions">
    <%= f.submit %>
  </div>
<% end %>