<h1>Wedding for <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2 %></h1>

<div id="nav">
  <%= link_to "Guests", "/weddings/#{@wedding.id}/guests" %> |
  <%= link_to "Registry",  "/weddings/#{@wedding.id}/registries" %>
</div>

<div id="events">
  <h2>Events:</h2>


<%= form_for @wedding do |f| %>
    <div class="links">
      <%= link_to_add_association 'Add Event', f, :events %>
    </div>
  </div>


<% end %>

  <%= render @wedding.events %>

<div id="map-canvas" ></div>

