<div id="wedding_navigation">
<% if current_user == @wedding.user %>
  <h4>Your Wedding</h4>
  <li><%= link_to 'Send Invitations', "/weddings/#{@wedding.id}/invitations" %></li>
<% end %>
  <li><%= link_to "Events", "/weddings/#{@wedding.id}/events" %></li>
  <li><%= link_to "Guests", "/weddings/#{@wedding.id}/guests" %></li>
  <li><%= link_to "Registry",  "/weddings/#{@wedding.id}/registries" %></li>
  <li><%= link_to "Menu", wedding_foods_path(@wedding, @foods) %></li>
</div>

<h1>Wedding for <%= @wedding.partner_1 %> &#38 <%= @wedding.partner_2 %></h1>

<%= render "social_page" %>
<% if current_user == @wedding.user %>
  <%= form_for([@comment.wedding, @comment]) do |f| %>

    <div class= "field">
      <%= f.label "Leave a note"%><br />
      <%= f.text_area :note %>
    </div>
    <div class = "actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

